<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <h1>Task Manager</h1>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <address>Developers Delicias 2016. All rights reserved.</address>
        </footer>
        {% block javascripts %}{% endblock %}

    </body>
</html>
