{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}
{% block body %}
    <div class="page-header">
        <h1>{{ 'title.homepage'|trans|raw }}</h1>
    </div>

    <div class="jumbotron">
        <p>
            This project is intended to learn about Symfony Framework. You can create a <a
                    href="{{ path('fos_user_registration_register') }}">new account</a> or <a
                    href="{{ path('fos_user_security_login') }}">log in</a> to access
            to your tasks page.
        </p>
        <p>Some features are:</p>
        <ul>
            <li>Create new tasks</li>
            <li>Add comments to your tasks</li>
            <li>Internationalization</li>
        </ul>
        <p>If you found some issue or bug please send me an email to <strong>cisnerosbarraza@gmail.com</strong>. Also
            you can get the source code at the <a href="https://github.com/bcisneros/task-manager/" class="ui-icon-extlink">GitHub repository</a>.</p>
    </div>

{% endblock %}
