{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h2>{{ 'user.password.change.confirmation.title' | trans }}</h2>
    <p>{{ 'user.password.change.confirmation.message' | trans }}</p>
{% endblock fos_user_content %}